@model MvcApplication1.Models.BoardShow
@{
    ViewBag.Title = @Model.Name;
}

<div class="container">
<h2>Board - @Model.Name</h2>

@Model.Description
<br/>
@Model.IsPublic
<br/>

<table class="table">
    <tr>
           
        @foreach(var bl in Model.List)
        {
            <th> @Html.ActionLink(bl.Name, "show", "list", new {id = bl.Id}, null) </th>
        }
        
    </tr>
    <tr>
        @foreach(var bl in Model.List)
        {
            <td> @Html.Partial("ListView", bl) </td>
        }

    </tr>
    
    @if(Model.IsEditable)
    {
        <tr>
        @foreach(var bl in Model.List)
        {
            <td>@Html.ActionLink("Edit","Edit","List", new {id = bl.Id}, null)</td>
        }
        </tr>
    }
</table>

    </div>