@model MvcApplication1.Models.Home

@section JavaScript{
    <script src ="@Url.Content("~/Scripts/SearchBox.js")" type="text/javascript"> </script>
    }

<h2>All Boards</h2>

@if (HttpContext.Current.Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator")){
    @Html.ActionLink("Admin", "index", "admin", null, new { @class = "btn large primary" })
}

@Html.ActionLink("User", "Profile", "user", null, new { @class = "btn large primary" })

@if(!HttpContext.Current.Request.IsAuthenticated)
{
    
    @Html.ActionLink("Register", "create", "user", null, new {@class = "btn large primary"})
    <!-- O concreto inconcreto ficou -->
    @Html.ActionLink("Login", "login", "user", null, new {@class = "btn large primary"})
    
} else
{
    @Html.ActionLink("Logout", "logout", "user", null, new { @class = "btn large primary" })
}

@using(Html.BeginForm("Search","Board",FormMethod.Post,new { id = "Search" })){

<br /> <input type="text" name="searchInput" id="searchInput" /> <br /><input type="submit" value="Search"/>
<ul id="SearchBoxList">
</ul>

}


<br/>
<br/>
<ul>
    @{
        foreach(var board in Model.Boards)
        {
            <li>@Html.ActionLink(board.Name, "show", "board", new { id = board.Id }, null)</li>
        }
    }
 </ul>

    

