<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.css")"/> 
    
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.js")" type="text/javascript"></script>
    <script src ="@Url.Content("~/Scripts/SearchBox.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.intellisense.js")" type="text/javascript"></script>
    @RenderSection("JavaScript", required: false)
</head>

<body>
        
    <div class="navbar navbar-inverse navbar-fixed-top">  
        <div class="navbar-inner">  
            <div class="container-fluid">  
                    <div class="nav-collapse">  
                        <div class="row-fluid">
                            <a class="brand">Project PI 2013</a>
                                <ul class ="nav">

                                    <li>@Html.ActionLink("Home","Index","Home")</li>

                                    @if (HttpContext.Current.Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator")){
                                        <li>@Html.ActionLink("Admin", "index", "admin", null,null)</li>
                                        <li>@Html.ActionLink("User", "Profile", "user", null, null)</li>
                                    }

                                    

                                    @if(!HttpContext.Current.Request.IsAuthenticated)
                                    {
                                        <li> @Html.ActionLink("Register", "create", "user", null, null)</li>
                                        <li> @Html.ActionLink("Login", "login", "user", null, null)</li>
                                    } else{
                                        <li> @Html.ActionLink("Logout", "logout", "user", null, null)</li>
                                    }
                                 </ul>
                             
                            <div class="pull-right">
                                <ul class="nav">
                                    <li>@using(Html.BeginForm("Search","Board",FormMethod.Post,new { id = "Search" , @class="navbar-form form-search"})){
                                            <div class="input-append">                                               
                                                <div class="dropdown">
                                                    <input type="text" name="searchInput" data-toggle="dropdown" class="input-medium search-query" id="searchInput" placeholder="Search..."/>
                                                    <input type="submit" value="Search" class="btn"/>
                                                    <ul id="SearchBoxList" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    </ul>
                                             </div>
                                         </div>
                                    }</li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
         </div>
      </div>
       
        @RenderBody()
    </body>

</html>
